@model DSWeb.Models.DSTreeModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>新增</title>
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/Scripts/fileinput.js"></script>
    <script type="text/javascript" src="~/Scripts/Inputfilezh.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrapValidator.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" />
    <style type="text/css">
        .main {
            height: 0;
            padding-bottom: 40%;
            padding-top: 5%;
        }
    </style>
    <script>
        $(function () {
            var oButtonInit = new ButtonInit();
            var oValidator = new ValidatorInit();
            var oFileInputInit = new FileInputInit();
            var oTimePickerInit = new TimePickerInit();
            var oSelectInit = new SelectInit();
            oSelectInit.Init();
            oButtonInit.Init();
            oValidator.Init();
            oFileInputInit.Init();
            oTimePickerInit.Init();

        });

        var TimePickerInit = function () {
            var oTimePicker = new Object();
            oTimePicker.Init = function () {
                $('#OnceDate').datetimepicker({
                    format: 'YYYY-MM-DD',
                    locale: moment.locale('zh-cn')
                });
                $('#OnceTime').datetimepicker({
                    format: 'HH:mm',
                    locale: moment.locale('zh-cn')
                });
                $('#RDETime').datetimepicker({
                    format: 'HH:mm',
                    locale: moment.locale('zh-cn')
                });
                $('#RDEStart').datetimepicker({
                    format: 'HH:mm',
                    locale: moment.locale('zh-cn')
                });
                $('#BeginDate').datetimepicker({
                    format: 'YYYY-MM-DD',
                    locale: moment.locale('zh-cn')
                });
                $('#EndDate').datetimepicker({
                    format: 'YYYY-MM-DD',
                    locale: moment.locale('zh-cn')
                });
            }
            return oTimePicker;
        }

        ///下拉选项初始化
        var SelectInit = function () {
            var oSelectInit = new Object;
            oSelectInit.Init = function () {
                var oResultSelectInit = new ResultSelectInit();
                var oPlanTypeSelectInit = new PlanTypeSelectInit();
                var oFrequencySelectInit = new FrequencySelectInit();
                oFrequencySelectInit.Init();
                oResultSelectInit.Init();
                oPlanTypeSelectInit.Init();
            }
            return oSelectInit;
        }

        ///重复执行下拉框初始化
        var FrequencySelectInit = function () {
            var oFrequencySelectInit = new Object();
            oFrequencySelectInit.Show = function () {
                switch ($("#Frequency").val()) {
                    case "1":
                        $("#EDExecute").show(500);
                        $("#EWExecute").hide();
                        $("#EMExecute").hide();
                        break;
                    case "2":
                        $("#EDExecute").hide();
                        $("#EWExecute").show(500);
                        $("#EMExecute").hide();
                        break;
                    case "3":
                        $("#EDExecute").hide();
                        $("#EWExecute").hide();
                        $("#EMExecute").show(500);
                        break;
                }
            }
            oFrequencySelectInit.Init = function () {
                oFrequencySelectInit.Show();
                $("#Frequency").change(function () {
                    oFrequencySelectInit.Show();
                })
            };
            return oFrequencySelectInit;
        }

        ///执行计划类型初始化
        var PlanTypeSelectInit = function () {
            var oPlanTypeSelectInit = new Object;
            oPlanTypeSelectInit.Init = function () {
                oPlanTypeSelectInit.Show();
                $('#PlanType').change(function () {
                    oPlanTypeSelectInit.Show();
                })
            };
            oPlanTypeSelectInit.Show = function () {
                if ($('#PlanType').val() == 1) {
                    $('#ExecuteOnce').show(500);
                    $('#ExecuteRepeat').hide();
                }
                else {
                    $('#ExecuteOnce').hide();
                    $('#ExecuteRepeat').show(500);
                }
            };
            return oPlanTypeSelectInit;
        }

        ///表单校验
        var ValidatorInit = function () {
            var oValidator = new Object();
            ///初始化表单校验
            oValidator.Init = function () {
                $('form').bootstrapValidator({
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        ModName: {
                            validators: {
                                notEmpty: {
                                    message: '模型名称不能为空'
                                }
                            }
                        },
                        ModServer: {
                            validators: {
                                notEmpty: {
                                    message: '服务器不能为空'
                                }
                            }
                        },
                        ModDataBase: {
                            validators: {
                                notEmpty: {
                                    message: '数据库不能为空'
                                }
                            }
                        },
                        ModUid: {
                            validators: {
                                notEmpty: {
                                    message: '用户不能为空'
                                }
                            }
                        },
                        ModPassword: {
                            validators: {
                                notEmpty: {
                                    message: '密码不能为空'
                                }
                            }
                        },
                        ModDataSource: {
                            validators: {
                                notEmpty: {
                                    message: '数据源不能为空'
                                }
                            }
                        }
                    }
                });
            }
            return oValidator;
        }


        ///上传控件初始化
        var FileInputInit = function () {
            var oInit = new Object();
            oInit.Init = function () {
                var control = $('#FileData');
                control.fileinput({
                    language: 'zh', //设置语言
                    uploadAsync: true,
                    enctype: 'multipart/form-data',
                    uploadUrl: "UpLoadFile?ModGUID=" + '@Model.ModGUID', //上传的地址
                    deleteUrl: "DeleteFile?ModGUID=" + '@Model.ModGUID',
                    allowedFileExtensions: ['csv', 'xlsx', 'xls'],//接收的文件后缀
                    showUpload: true, //是否显示上传按钮
                    showCaption: true,//是否显示标题
                    showPreview: false,
                    dropZoneEnabled: true,
                    textEncoding: "GB2312",
                    showRemove: false,
                    maxFileCount: 1,
                    msgErrorClass: 'file-error-message',
                    msgValidationErrorClass: 'text-danger',
                    dropZoneTitle: "拖拽文件到这里 &hellip;",
                    msgInvalidFileType: '不正确的类型 "{name}". 只支持 "{types}" 类型的文件.',
                    browseClass: "btn btn-primary" //按钮样式,
                }).on("filebatchselected", function (event, files) {
                    $("#resultSelector").find("option").remove();
                }).on("fileuploaded", function (event, data, previewId, index) {
                    var oSelectInit = new SelectInit();
                    oSelectInit.Init();
                }).on('filesuccessremove', function (event, id) {
                    $("#resultSelector").find("option").remove();
                }).on("filecleared", function (event, data, msg) {
                    $("#resultSelector").find("option").remove();
                });

            }
            return oInit;
        }

        ///结果字段下拉框选择
        var ResultSelectInit = function () {
            var oInit = new Object();
            oInit.Init = function () {
                var dbs = {
                    ModServer: $('#ModServer').val(),
                    ModDataBase: $('#ModDataBase').val(),
                    ModUid: $('#ModUid').val(),
                    ModPassword: $('#ModPassword').val(),
                    ModDataSource: $('#ModDataSource').val()
                };
                $("#resultSelector").find("option").remove();
                $.ajax({
                    type: "post",
                    url: '/DSTreeModels/GetFieldName',
                    data: { ModGUID: '@Model.ModGUID', isFile: $("input[name='isFile']:checked").val(), ModDataSource: JSON.stringify(dbs) },
                    success: function (data) {
                        var json = eval(data); //数组
                        $.each(json, function (index, item) {
                            $("#resultSelector").append("<option value='" + json[index].FieldName + "'>" + json[index].FieldName + "</option>");
                        });
                    },
                    error: function () {

                    },
                    complete: function () {

                    }

                });
                ///当文件尚未上传时自动上传
                $("#resultSelector").click(function () {
                    if ($("input[name='isFile']:checked").val() == 1) {
                        if ($("#resultSelector option").length < 1 && $(".file-caption-name").text() != "") {
                            $("#FileData").fileinput("upload");
                        }
                    }

                });
            }
            return oInit;
        }


        ///按钮初始化
        var ButtonInit = function () {
            var oInit = new Object();
            oInit.Init = function () {
                $("#btnTestDb").click(function () {
                    var Server = $("#ModServer").val();
                    var DataBase = $("#ModDataBase").val();
                    var Uid = $("#ModUid").val();
                    var PassWord = $("#ModPassword").val();
                    if (Server == "") {
                        alert("请填写服务器！");
                        return;
                    }
                    if (DataBase == "") {
                        alert("请填写数据库！");
                        return;
                    }
                    if (Uid == "") {
                        alert("请填写登录名！");
                        return;
                    }
                    $.ajax({
                        type: "post",
                        url: "/DSTreeModels/CheckDbString",
                        data: { Server: Server, DataBase: DataBase, Uid: Uid, PassWord: PassWord },
                        success: function (data) {
                            if (data == "success") {
                                alert("数据库连接验证成功！");
                            }
                            if (data == "failure") {
                                alert("数据库连接验证失败！");
                            }
                        },
                        error: function () {
                            alert("数据库连接验证失败！");
                        },
                        complete: function () {

                        }

                    });
                });
                $('#btnModMain').click(function () {
                    $('#ModMain').show(500);
                    $('#ModData').hide();
                    $('#ModPlan').hide();
                });
                $('#btnModData').click(function () {
                    $('#ModMain').hide();
                    $('#ModData').show();
                    if ($("input[name='isFile']:checked").val() == 1) {
                        $('#ModFile').show(500);
                        $('#ModDB').hide();
                        $('#btnTestDb').hide();
                    }
                    else {
                        $('#ModDB').show(500);
                        $('#ModFile').hide();
                        $('#btnTestDb').show();
                    }
                    $('#ModPlan').hide();
                });
                $('#btnModPlan').click(function () {
                    $('#ModMain').hide();
                    $('#ModData').hide();
                    $('#ModPlan').show(500);
                    $('#btnTestDb').hide();
                });
                ///是否文件单选框
                $("input[name='isFile']").change(function () {
                    $("#resultSelector").find("option").remove();
                    if ($("input[name='isFile']:checked").val() == 0) {
                        if ($("#resultSelector option").length < 1 && $(".file-caption-name").text() != "") {
                            var oSelectInit = new SelectInit();
                            oSelectInit.Init();
                        }
                    }
                });
                ///每天是否间隔执行
                $("input[name='RdE']").change(function () {
                    if ($("input[name='RdE']:checked").val() == 1) {
                        $('#RDayinterval').show(500);
                        $('#RDOTime').hide(500);
                    }
                    else {
                        $('#RDayinterval').hide(500);
                        $('#RDOTime').show(500);
                    }
                })
            }
            return oInit;
        };
    </script>
</head>
<body>
    <div class="modal-header">
        <h3>新增模型</h3>
    </div>
    <div class="container col-lg-2 col-md-2 col-sm-2">
        <div class="row">
            <div>
                <button id="btnModMain" class="btn btn-large btn-block btn-primary" type="button">属性设置</button>
            </div>
            <div>
                <button id="btnModData" class="btn btn-large btn-block btn-primary" type="button">配置样本</button>
            </div>
            <div>
                <button id="btnModPlan" class="btn btn-large btn-block btn-primary" type="button">执行计划</button>
            </div>
        </div>
    </div>
    <div class="container col-lg-10 col-md-10  col-sm-10">
        <form id="MyForm" role="form" class="form-horizontal">
            <div id="ModMain" class="form-horizontal main">
                <div class="row col-md-12">
                    <div class="form-group col-md-6">
                        <label class="control-label col-md-4 text-right">模型名称</label>
                        <div class="col-md-8">
                            <input type="text" id="ModName" name="ModName" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label col-md-4 text-right">是否文件数据</label>
                        <div class="col-md-8 form-inline">
                            <input type="radio" class="radio" value="1" name="isFile" checked />是
                            <input type="radio" class="radio" value="0" name="isFile" />否
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2 text-right">模型描述</label>
                        <div class="col-md-10">
                            <textarea class="form-control" rows="10" name="ModRemark"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ModData" class="form-horizontal text-center main" hidden="hidden">
                <div id="ModFile" class="row form-horizontal" hidden="hidden">
                    <div class="form-group col-md-12">
                        <div class="col-md-2 text-right">
                            <label class="control-label">上传文件</label>
                        </div>
                        <div class="col-md-4" style="padding-bottom:20px;text-align:center">
                            <input id="FileData" class="input-sm" name="FileData" type="file" />
                            <small>仅支持上传excel、csv文件</small>
                        </div>
                    </div>
                </div>
                <div id="ModDB" class="form-horizontal" hidden="hidden">
                    <div class="row col-md-12">
                        <div class="form-group col-md-6">
                            <div class="col-md-4 text-right">
                                <label class="control-label">服务器</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control input-sm" id="ModServer" name="ModServer" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="col-md-4 text-right">
                                <label class="control-label">数据库</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control input-sm" id="ModDataBase" name="ModDataBase" />
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group  col-md-6">
                            <div class="col-md-4 text-right">
                                <label class="control-label">用户名</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control input-sm" id="ModUid" name="ModUid" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <div class="col-md-4 text-right">
                                <label class="control-label">密码</label>
                            </div>
                            <div class="col-md-8">
                                <input type="password" class="form-control input-sm" id="ModPassword" name="ModPassword" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label col-md-2 text-right">模型数据源</label>
                            <div class="col-md-9">
                                <textarea class="form-control" rows="8" id="ModDataSource" name="ModDataSource"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ResultSelect" class="form-horizontal">
                    <div class="row">
                        <div class="form-group  col-md-12">
                            <div class="col-md-2 text-right">
                                <label class="control-label">结果属性</label>
                            </div>
                            <div class="col-md-4">
                                <select id="resultSelector" class="form-control input-sm"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ModPlan" class="form-horizontal main" hidden="hidden">
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="col-md-2 text-right">
                            <label class="control-label">计划类型</label>
                        </div>
                        <div class="col-md-4">
                            <select id="PlanType" class="form-control">
                                <option value="1">执行一次</option>
                                <option value="2">重复执行</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="ExecuteOnce" class="row col-md-12">
                    <fieldset><strong>执行一次</strong></fieldset>
                    <hr />
                    <div class="form-group  col-md-6">
                        <div class="col-md-4 text-right">
                            <label class="control-label">执行日期</label>
                        </div>
                        <div class="col-md-8">
                            <div class='input-group date' id='OnceDate'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group  col-md-6">
                        <div class="col-md-4 text-right">
                            <label class="control-label">执行时间</label>
                        </div>
                        <div class="col-md-8">
                            <div class='input-group date' id='OnceTime'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ExecuteRepeat" class="form-horizontal col-md-12" hidden="hidden">
                    <fieldset>
                        <strong>
                            频率
                        </strong>
                    </fieldset>
                    <hr />
                    <div class="row col-md-12">
                        <div class="form-group">
                            <div class="col-md-2 text-right">
                                <label class="control-label">执行</label>
                            </div>
                            <div class="col-md-4">
                                <select id="Frequency" class="form-control">
                                    <option value="1">每天</option>
                                    <option value="2">每周</option>
                                    <option value="3">每月</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="EDExecute" class="row col-md-12">
                        <div class="form-group">
                            <div class="col-md-2 text-right">
                                <label class="control-label">执行间隔</label>
                            </div>
                            <div class="col-md-4">
                                <input id="ExecuteInterD" type="number" class="form-control col-md-10" value="1"><small>间隔多少天执行一次</small>
                            </div>
                        </div>
                    </div>
                    <div id="EWExecute" class="row col-md-12">
                        <div class="form-group">
                            <div class="col-md-2 text-right">
                                <label class="control-label">执行间隔</label>
                            </div>
                            <div class="col-md-4">
                                <input id="ExecuteInterW" type="number" class="form-control" value="1"><small>间隔多少周执行一次</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 text-right">
                                <label class="control-label">在</label>
                            </div>
                            <div class="col-md-6">
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="ic1" value="Monday"> 周一
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="ic2" value="Tuesday"> 周二
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="ic3" value="Wednesday"> 周三
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="ic4" value="Thrusday"> 周四
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="ic5" value="Friday"> 周五
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="ic6" value="Saturday"> 周六
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="ic7" value="Sunday"> 周天
                                </label>
                            </div>
                            <div class="text-left">
                                <label class="control-label">执行</label>
                            </div>
                        </div>
                    </div>
                    <div id="EMExecute" class="row col-md-12">
                        <div class="form-group">
                            <div class="col-md-2 text-right">
                                <label class="control-label">执行间隔</label>
                            </div>
                            <div class="col-md-4">
                                <input id="ExecuteInterM" type="number" class="form-control col-md-10" value="1"><small>间隔多少月执行一次</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 text-right">
                                <label class="control-label">执行时间</label>
                            </div>
                            <div class="col-md-4">
                                <select id="MOrder" class="form-control">
                                    <option value="1">第一个</option>
                                    <option value="2">第二个</option>
                                    <option value="3">第三个</option>
                                    <option value="4">第四个</option>
                                    <option value="5">最后一个</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select id="MDay" class="form-control">
                                    <option value="1">星期一</option>
                                    <option value="2">星期二</option>
                                    <option value="3">星期三</option>
                                    <option value="4">星期五</option>
                                    <option value="5">星期六</option>
                                    <option value="6">星期天</option>
                                    <option value="7">天</option>
                                    <option value="8">工作日</option>
                                    <option value="休息日">工作日</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="RDayExecute" class="row col-md-12">
                        <fieldset>
                            <strong>
                                每天频率
                            </strong>
                        </fieldset>
                        <hr />
                        <div class="row col-md-12">
                            <div class="form-group  col-md-6">
                                <label class="control-label col-md-4 text-right">每天</label>
                                <div class="col-md-8 form-inline">
                                    <input type="radio" class="radio" value="0" name="RdE" checked />执行一次
                                    <input type="radio" class="radio" value="1" name="RdE" />间隔执行
                                </div>
                            </div>
                            <div id="RDOTime" class="form-group  col-md-6">
                                <div class="col-md-4 text-right">
                                    <label class="control-label">执行时间</label>
                                </div>
                                <div class="col-md-8">
                                    <div class='input-group date' id='RDETime'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="RDayinterval" class="row col-md-12" hidden>
                            <div class="form-group col-md-6">
                                <div class="col-md-4 text-right">
                                    <label class="control-label">间隔时间</label>
                                </div>
                                <div class="col-md-8">
                                    <input id="ExecuteInterH" type="number" class="form-control col-md-10" value="1"><small>间隔多少小时执行一次</small>
                                </div>
                            </div>
                            <div class="row col-md-6">
                                <div class="col-md-4 text-right">
                                    <label class="control-label">开始时间</label>
                                </div>
                                <div class="col-md-8">
                                    <div class='input-group date' id='RDEStart'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Duration" class="row col-md-12">
                        <fieldset>
                            <strong>
                                持续时间
                            </strong>
                        </fieldset>
                        <hr />
                        <div class="row col-md-12">
                            <div class="form-group  col-md-6">
                                <div class="col-md-4 text-right">
                                    <label class="control-label">开始时间</label>
                                </div>
                                <div class="col-md-8">
                                    <div class='input-group date' id='BeginDate'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group  col-md-6">
                                <div class="col-md-4 text-right">
                                    <label class="control-label">结束时间</label>
                                </div>
                                <div class="col-md-8">
                                    <div class='input-group date' id='EndDate'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ModBtn" class="form-group">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 text-center">
                        <input id="btnTestDb" type="button" value="测试数据库连接" class="btn btn-default" />
                        <input id="save" type="submit" value="保存" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    @*<form>
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div id="ModMain" class="form-horizontal">
                    <fieldset>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.ModName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.ModName, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            </div>
                            @Html.LabelFor(model => model.IsFileDataSource, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.RadioButtonFor(model => model.IsFileDataSource, 1, htmlAttributes: new { @checked = "true" })是
                                @Html.RadioButtonFor(model => model.IsFileDataSource, 0)否
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div id="ModFileL" class="col-md-2 text-right">
                                <label class="control-label">上传文件</label>
                            </div>
                            <div id="ModFileI" class="col-md-4" style="padding-bottom:20px;text-align:center">
                                <input id="FileData" class="input-sm" name="FileData" type="file" />
                            </div>
                            <div class="col-md-2 text-right">
                                <label class="control-label">结果属性</label>
                            </div>
                            <div class="col-md-4">
                                <select id="resultSelector" class="form-control input-sm"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ModRemark, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.ModRemark, new { @class = "form-control", @rows = "6" })

                            </div>
                        </div>
                    </fieldset>
                </div>
                <div id="ModDB" class="form-horizontal" hidden="hidden">
                    <fieldset>
                        <legend>设置数据源</legend>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ModServer, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.ModServer, new { htmlAttributes = new { @class = "form-control  input-sm" } })

                            </div>
                            @Html.LabelFor(model => model.ModDataBase, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.ModDataBase, new { htmlAttributes = new { @class = "form-control  input-sm" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ModUid, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.ModUid, new { htmlAttributes = new { @class = "form-control  input-sm" } })

                            </div>
                            @Html.LabelFor(model => model.ModPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.ModPassword, new { htmlAttributes = new { @class = "form-control  input-sm", @type = "password" } })

                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ModDataSource, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-lg-10">
                                @Html.TextAreaFor(model => model.ModDataSource, new { @class = "form-control  input-sm", @rows = "4" })
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div id="ModCycle" class="form-horizontal" hidden="hidden">
                    <fieldset>
                        <legend>设置生成周期</legend>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ModCycleType, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-4">
                                <select id="ModCycleTypeSelector" class="form-control input-sm">
                                    <option value="Month">月</option>
                                    <option value="Week">周</option>
                                    <option value="None">无</option>
                                </select>
                            </div>
                            @Html.LabelFor(model => model.ModCycleWD, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.ModCycleWD, new { htmlAttributes = new { @class = "form-control  input-sm" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ModCycleDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.ModCycleDate, new { htmlAttributes = new { @class = "form-control  input-sm" } })
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 text-center">
                            <input id="btnTestDb" type="button" value="测试数据库连接" class="btn btn-default" />
                            <input id="save" type="submit" value="保存" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </form>*@
</body>
</html>
