@model IEnumerable<DSWeb.Models.DSTreeModel>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">
        $(function () {  
            $('tr').on('dblclick', function () {  
               
            });
            $('tr').on('click', function () {
                $("#modal").modal({
                   /// remote: @Url.Action("Index", "DSTreeCEMaps")
                    remote: "/DSTreeCEMaps/Index?id="+this.id
                })
            })
        })
    </script>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                //remote.html内容会被加载到这里
            </div>
        </div>
    </div>
    <table class="table table-hover table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModGenerateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModDataSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModRemark)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr id=@item.ModGUID>
            <td>
                @Html.DisplayFor(modelItem => item.ModName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModGenerateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModDataSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModRemark)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ModGUID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ModGUID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ModGUID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
