@model IEnumerable<DSWeb.Models.DSTreeCEMap>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">
        $(function () {
            $('#submit').click(function () {
                var dscemlist = [];
                $(".CEMap").each(function () {
                    var thisItem = $(this);
                    dscemlist.push({
                        CEMapGUID: thisItem.attr('id'),
                        ModGUID: thisItem.attr('modid'),
                        ECellName: thisItem.children('td:eq(0)').text().trim(),
                        CCellName: thisItem.find('input:eq(0)').val(),
                        IsResultFactor: thisItem.find('input:radio:checked').val() == 'on' ? true : false
                    })
                });
                $.ajax({
                    async: false,
                    type: "POST",
                    url: "DSTreeCEMaps/ListSave",//注意路径
                    data: { dscemlist: dscemlist },
                    dataType: "html",
                    success: function (data) {
                        alert("修改成功");
                    },
                    error: function (data) {
                        alert(data.result);
                    }
                });
            })
        })
    </script>
</head>
<body>
    <input id="submit" type="submit" value="保存" class="btn btn-default" />
    <table id="tb" class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ECellName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CCellName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsResultFactor)
            </th>
        </tr>
        @foreach (var item in Model)
            {
            <tr class="CEMap" id="@item.CEMapGUID" modid="@item.ModGUID">
                <td>
                    @item.ECellName
                </td>
                <td>
                    <input type="text" name="CCellName" value="@item.CCellName" />
                </td>
                <td>
                    <input type="radio" name="IsResultFactor" value="@item.IsResultFactor" checked="if(@item.IsResultFactor==1) checked" />
                </td>
            </tr>
        }
    </table>
</body>
</html>
