@model IEnumerable<DSWeb.Models.DSTreeCEMap>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    @using (Html.BeginForm("ListSave", "DSTreeCEMaps"))
    {
        <input type="submit" value="保存" class="btn btn-default" />
        <table id="tb" class="table">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.ECellName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CCellName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsResultFactor)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr id="@item.CEMapGUID" modid="@item.ModGUID">

                    <td>
                        @Html.DisplayFor(modelItem => item.ECellName)
                    </td>
                    <td>
                      <input type="text" name="CCellName" value="@item.CCellName" />
                    </td>
                    <td>
                        <input type="radio" name="IsResultFactor" value="@item.IsResultFactor" />
                    </td>
                </tr>
            }
        </table>

    }
</body>
</html>
